/build
/dist
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
aplicacao/AppRedeNeural/nbproject/private/private.properties
aplicacao/AppRedeNeural/nbproject/private/configs/Executar_no_Browser.properties
aplicacao/AppRedeNeural/nbproject/private/configs/Executar_como_WebStart.properties
aplicacao/AppRedeNeural/build/built-jar.properties
aplicacao/AppRedeNeural/dist/AppRedeNeural.html
aplicacao/AppRedeNeural/dist/AppRedeNeural.jnlp
aplicacao/AppRedeNeural/dist/web-files/dtjava.js
aplicacao/AppRedeNeural/dist/web-files/error.png
aplicacao/AppRedeNeural/dist/web-files/get_java.png
aplicacao/AppRedeNeural/dist/web-files/get_javafx.png
aplicacao/AppRedeNeural/dist/web-files/javafx-chrome.png
aplicacao/AppRedeNeural/dist/web-files/javafx-loading-100x100.gif
aplicacao/AppRedeNeural/dist/web-files/javafx-loading-25x25.gif
aplicacao/AppRedeNeural/dist/web-files/upgrade_java.png
aplicacao/AppRedeNeural/dist/web-files/upgrade_javafx.png
